@{
    ViewData["Title"] = "Home Page";
    Layout = "/Views/Shared/LandingPage.cshtml";
}
@using Microsoft.AspNetCore.Identity;
@using iCare_ePrescribing_System.Data;
@inject SignInManager<StaffMembers> _SignManager
@inject UserManager<StaffMembers> _userManager
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="wrapper">
        <main class="main">
            <div class="home-content">
                <h2 id="home-header-first">Bay Breeze</h2>
                <h2 id="home-header-second">Day Hospital</h2>
            </div>
            <div class="image-container">
                <img src="~/css/Bay1.jpg" alt="" class="image">
            </div>
            <div class="image-container">
                <img src=~/css/Bay2.jpg alt="" class="image">
            </div>
            <div class="image-container">
                <img src=~/css/HospitalRoom.jpg alt="" class="image">
            </div>
        </main>
    </div>

</body>
</html>