@model  Patient


<h2>Patient Details</h2>

<div>
    <label>Name: </label>
    <span>@Model.Name</span>
</div>
<div>
    <label>Surname: </label>
    <span>@Model.Surname</span>
</div>
<!-- Add other details as needed -->
