@using Microsoft.AspNetCore.Identity
@using iCare_ePrescribing_System.Data
@inject SignInManager<StaffMembers> SignInManager
@inject UserManager<StaffMembers> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" style="color:burlywood" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
    }
</ul>
